<%= form_for users_path do |f| %>
  <p>Имя</p>
  <p>Эектронная почта</p>
  <%= f.text_area :email %><br>
  <p>
    <%= f.label :role %>
    <%= f.select :role, User.role.options %>
  </p>
  <p>Пароль</p>
  <%= f.text_field :password %><br>
  <p>Повторите пароль</p>
  <%= f.text_field :password_confirmation %> <br>
  <%= f.submit "Обновить" %>
<% end %>