<h1> Создание пользователя </h1>
<%= form_for @user, url: sign_up_path do |f| %>
  <%= render 'error_messages' %>
  <p>Эектронная почта</p>
  <%= f.text_field :email %><br>
  <p>Пароль</p>
  <%= f.password_field :password %>
  <p>Повторите пароль</p>
  <p><%= f.password_field :password_confirmation %></p>
  <%= f.submit "Зарегистрироваться" %>
<% end %>