<h1> Создание пользователя </h1>
<%= form_for @user do |f| %>
  <%= render 'error_messages' %>
  <p>Имя</p>
  <%= f.text_field :first_name %><br>
  <p>Фамилия</p>
  <%= f.text_field :last_name %><br>
  <p>Эектронная почта</p>
  <%= f.text_field :email %><br>
  <p>Пароль</p>
  <%= f.password_field :password %>
  <p>Повторите пароль</p>
  <p><%= f.password_field :password_confirmation %></p>
  <%= f.submit "Зарегистрироваться" %>
<% end %>