<%= form_for @product, url: admin_product_path(@product) do |f| %>
<%= render 'error_messages' %>
<%= @product.errors.each { |e| puts e } %>
<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :description %>
	<%= f.text_field :description %>
</p>
<p>
	<%= f.label :price %>
	<%= f.text_field :price %>
</p>
<p><%= f.submit "Update" %></p>
<% end %>	
