<h1> Create product </h1>
<%= form_for @product do |f| %>
  <p>Title</p>
  <%= f.text_field :title %><br>
  <p>Description</p>
  <%= f.text_field :description %><br>
  <p>Price</p>
  <%= f.text_field :price %><br>
  <%= f.submit "Create" %>
<% end %>