<%= link_to "sample app", root_path %>
<nav>
	<ul>
		<li><%= "You're logged in as #{current_user.full_name}" %></li>
		<% if signed_in? %>
			<li><%= link_to "Show Profile", current_user %></li>
			<li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Sign in", sign_in_path %></li>
		<% end %>
	</ul>
</nav>