<%= link_to "sample app", root_path %>
<nav>
	<ul>
		<li><%= "You're logged in as #{current_user.full_name}" %></li>
		<% if signed_in? %>
			<li>
				<% if current_user.profile.nil? %>
					Your profile is empty <%= link_to "Fill it", new_profile_path, id: current_user.id %>
				<% else %>
					<%= link_to "Show Profile", current_user.profile %>
				<% end %>
			</li>
			<li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Sign in", sign_in_path %></li>
		<% end %>
	</ul>
</nav>